@for $i from 1 through 100 {
    .ml#{$i} {
        margin-left: #{$i}px !important
    }

    .mr#{$i} {
        margin-right: #{$i}px !important
    }

    .mt#{$i} {
        margin-top: #{$i}px !important
    }

    .mb#{$i} {
        margin-bottom: #{$i}px !important
    }

    .pl#{$i} {
        padding-left: #{$i}px !important
    }

    .pr#{$i} {
        padding-right: #{$i}px !important
    }

    .pt#{$i} {
        padding-top: #{$i}px !important
    }

    .pb#{$i} {
        padding-bottom: #{$i}px !important
    }
}


@for $i from 1 through 50 {
    .w#{$i * 10} {
        width: #{$i * 10}px !important
    }

    .h#{$i * 10} {
        width: #{$i * 10}px !important
    }
}