.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

@for $i from 1 through 100 {
    .ml#{$i} {
        margin-left: #{$i}px !important
    }

    .mr#{$i} {
        margin-right: #{$i}px !important
    }

    .mt#{$i} {
        margin-top: #{$i}px !important
    }

    .mb#{$i} {
        margin-bottom: #{$i}px !important
    }

    .pl#{$i} {
        padding-left: #{$i}px !important
    }

    .pr#{$i} {
        padding-right: #{$i}px !important
    }

    .pt#{$i} {
        padding-top: #{$i}px !important
    }

    .pb#{$i} {
        padding-bottom: #{$i}px !important
    }
}


@for $i from 1 through 50 {
    .w#{$i * 10} {
        width: #{$i * 10}px !important
    }

    .h#{$i * 10} {
        width: #{$i * 10}px !important
    }
}

// ----------------------------


.select-upload {
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: var(--text-weak);
    padding: 5px;
    border: 1px solid var(--text-weak);
    border-radius: 3px;
    margin: 3px 7px;

    &:hover {
        background-color: #F5F7FA
    }

    &:active {
        opacity: 0.7
    }
}