.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}

.v-enter,
.v-leave-to {
    opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
    transition: all .3s;
    transform-origin: bottom;
}

.fade-down-enter,
.fade-down-leave-to {
    opacity: 0;
    margin-top: -64px;
    transform: scaleY(0);
}

.fade-scale-enter-active,
.fade-scale-leave-active {
    transition: all .3s;
}

.fade-scale-enter,
.fade-scale-leave-to {
    opacity: 0;
    transform: scale(1.05);
}

@for $i from 1 through 100 {
    .ml#{$i} {
        margin-left: #{$i}px !important
    }

    .mr#{$i} {
        margin-right: #{$i}px !important
    }

    .mt#{$i} {
        margin-top: #{$i}px !important
    }

    .mb#{$i} {
        margin-bottom: #{$i}px !important
    }

    .pl#{$i} {
        padding-left: #{$i}px !important
    }

    .pr#{$i} {
        padding-right: #{$i}px !important
    }

    .pt#{$i} {
        padding-top: #{$i}px !important
    }

    .pb#{$i} {
        padding-bottom: #{$i}px !important
    }
}


@for $i from 1 through 100 {
    .w#{$i * 5} {
        width: #{$i * 5}px !important
    }

    .h#{$i * 5} {
        height: #{$i * 5}px !important
    }
}

// ----------------------------


.select-upload {
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: var(--text-weak);
    padding: 5px;
    border: 1px solid var(--text-weak);
    border-radius: 3px;
    margin: 3px 7px;

    &:hover {
        background-color: #F5F7FA
    }

    &:active {
        opacity: 0.7
    }
}