<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="theme/base.css">
    <link rel="stylesheet" type="text/css" href="theme/default/index.css">
    <link rel="stylesheet" type="text/css" href="src_dev/index.css">
    <title>Dev Page</title>
  </head>

  <body>
    <div class="home-wrapper">
      <div class="header-container">Dev Page</div>
      <div class="home-container">
        <div class="menu-container"></div>
        <div class="main-container">
          <div id="app"></div>
        </div>
      </div>
    </div>

    <script type="module" src="src_dev/main.js"></script>
  </body>

</html>