body {
    overflow: hidden;
}

// Navbar
.header-container {
    z-index: 102;
    box-shadow: 0 0 10px #00000030;

    .gli-navbtn {
        margin-left: 10px;
    }

    .divide-right+.gli-navbtn {
        margin-left: 0px;
    }
}

.home-wrapper>.container {
    position: relative;

    .gli-iframe {
        z-index: 1999;
        position: absolute;
        width: 100%;
        height: calc(100% - 50px);
        border: none;
        background: white;
        opacity: 0;
        visibility: hidden;
        transition: all .2s;

        &.gli-show {
            opacity: 1;
            visibility: visible;
        }
    }
}

// Login
@import url(../../src/style/login-anime.scss);

.login-wrapper {
    .form-container {
        width: initial !important
    }

    &::after {
        content: "GlInjector";
        position: absolute;
        bottom: 10px;
        left: 50%;
        font-size: 12px;
        transform: translateX(-50%);
        color: rgba(128, 128, 128, 0.5);
    }
}