.home-wrapper {
    max-width: initial !important;

    .header-container {
        max-width: initial !important;
    }
}

.router-visual-wrapper {
    max-width: initial !important;
}

#cloud-wrapper .cloud-card .main {
    max-width: initial !important;
}

.wifi-tab-wrapper .form {

    .wifi-form-main,
    .wifi-switch-main {
        max-width: initial !important;
    }
}

.file-serves-wrapper .file-serves-form {
    max-width: initial !important;
}

.file-serves-wrapper .btns {
    max-width: initial !important;
}

.parent-main-wrapper .main-form {
    max-width: initial !important;
}

.zerotier-wrapper .main {
    max-width: initial !important;
}

.tailscale-wrapper .main {
    max-width: initial !important;
}